body {
    padding: 0;
    margin: 0;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
    
}

*{ margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    overflow: hidden;
    background-color: #a69797 ;
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 80px;

}

.navbar a {
    float: left;
    display: block;
    color: #302f2f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color: #302f2f;
}

.dropbtn {
    border: #909090;
    background-color: #a69797;
    color: #302f2f;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    letter-spacing: 1.5px;
}

.dropdown {
    top: 0;
    left: 0;
    position: relative;
    display: inline-flex;
    transform: translate(-1%, 1%);
    z-index: 5;
}

.menu-items {
    top: 100%;
    left: 50%;
    display: none;
    position: relative;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.menu-items a {
    color: #302f2f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.2px;
}

.menu-items a:hover {
    text-decoration: underline;
}

.dropdown:hover .menu-items {
    display: block;
}

@media only screen and (max-width: 768px) {
    .navbar {
        height: auto;
    }

    .navbar a {
        float: none;
        display: block;
        text-align: left;
        padding: 14px;
    }

    .dropdown {
        display: block;
    }

    .dropbtn {
        display: inline-block;
        width: 100%;
    }

    .menu-items {
        display: none;
        position: static;
        min-width: 0;
        box-shadow: none;
    }

    .menu-items a {
        display: block;
        padding: 8px 14px;
    }

    .menu-items a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .menu-items {
        display: block;
    }
}

figure#slider {
    position: relative;
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

figure#slider>img {
    position: absolute;
    left: 0;
    top: 0.1px;
    width: 100%;
    height: 100vh;
    opacity: 0;
    animation-name: slide;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    object-fit: cover;


}

figure#slider img:nth-child(2) {
    animation-delay: 5s;
}

figure#slider img:nth-child(3) {
    animation-delay: 10s;
}

figure#slider img:nth-child(4) {
    animation-delay: 15s;
}

figure#slider img:nth-child(5) {
    animation-delay: 20s;
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


#slider {
    position: relative;
}


section#highlights{
    margin-left:50px;
    padding: 80px;
    box-sizing: border-box;
    font: 14px/0.9;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    letter-spacing: 1.9px;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: black;
    padding-left:50px;
}

p#welcome{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font: 400 24px/1.33 EB Garamond, Georgia, Times New Roman, serif;
    color: #909090;
    line-height: 1.67;
    text-transform:none
}

section#galery{
    background-color: #1a1a1a;;
    color:white;
    display: block;
    font-size: 1em;
    margin-left: 50px;
    margin-block-start: 0.83em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 1px;
    padding:50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    
}

.coloane {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 10px;
}

.image {
    position: relative;
    z-index:1;
}

.image img {
    display: block;
    width: 100%;
    height: auto;
}

.image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

.image:hover::after {
    
     transform: scale(1.1);
    opacity: 1;
    z-index: 2;
}

@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.image:hover img {
    animation-name: grow;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    z-index: 3;
}


#footer {
    background-color: #a69797;
    position: static;
    bottom: 0;
    width: 100%;
}

.coloane_footer {
    display: flex;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.formular-container {
    margin-top: 20px;
    padding-left: 20rem;
}



.lista {
    position: relative;
}


.col {
    flex: 1;
    margin-bottom: 20px;
    padding-top:30px;
    line-height:0.8; 
    padding-left: 30px;   
}

@media (min-width: 800px) {
    .col {
        flex: 0 0 23%;
        margin-right: 20px;
    }
}

h1#wel {
    font: 400 38px/1.26 EB Garamond, Georgia, Times New Roman, serif;
    padding: 8px 40px;
    margin: 0.83em 0;
    color: #000;
    margin-right: 250px;
    margin-left: 250px;
}

h2#monday {
    font: 400 16px/1.56 Roboto, Open Sans, Arial, Helvetica, sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 15px;
    margin: 1em 0;
    color: #000;
    margin-right: 250px;
    margin-left: 250px;
}
h2#discover{
    font: 400 16px/1.56 Roboto, Open Sans, Arial, Helvetica, sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 15px;
    margin: 1em 0;
    color: #000;
    margin-right: 250px;
    margin-left: 250px;

}
h1#available {
    font: 18px/1.33 Montserrat, Verdana, sans-serif;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin: 0.83em 0 0.33em;
    color: #000;
    padding: 8px 40px;
    margin-right: 250px;
    margin-left: 250px;
    font-weight: 500;
}

.lista ul {
    font-weight: 700;
    list-style: none;
    font: 400 16px/1.56 Roboto, Open Sans, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 3px 30px;
    margin: 20px;
    font-weight: bold;
    list-style-type:disc;
    border-top: 1px solid grey;
    margin-right: 300px;
    margin-left: 300px;
}
.prima ul{
    font-weight: 700;
    list-style: none;
    font: 400 16px/1.56 Roboto, Open Sans, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 3px 30px;
    margin: 20px;
    font-weight: bold;
    list-style-type: disc;
    margin-right: 300px;
    margin-left: 300px;
}
.prima p{
    font: 400 16px/1.56 Roboto, Open Sans, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 3px 30px;
    margin: 20px;
    margin-right: 300px;
    margin-left: 300px;
}

.lista p {
    font: 400 16px/1.56 Roboto, Open Sans, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 3px 30px;
    margin: 20px;
    margin-right: 300px;
    margin-left: 300px;
}


@media only screen and (max-width: 767px) {
    h1#wel {
        font-size: 32px;
        margin-right: 50px;
        margin-left: 50px;
    }

    h2#monday {
        font-size: 14px;
        margin-right: 50px;
        margin-left: 50px;
    }

    h1#available {
        font-size: 16px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .lista ul {
        margin: 20px 0;
    }

    .prima ul {
        margin: 20px 0;
    }

    .lista p {
        margin: 20px 0;
    }

    .prima p {
        margin: 20px 0;
    }
}


.row {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.column {
    flex: 1;
    margin: 0 10px;
    height: 300px;
    display: flex;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

main {
    min-height: 100vh;
    padding-top: 0px;

}

figure#sph{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0px;
    position: relative;
    text-align: center;
    color: white;
}
.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 60px;
    padding-bottom: 90px;
    font: 14px/1.57 Montserrat, Verdana, sans-serif;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: medium;
    text-transform: uppercase;

}
.bottom{
    position: absolute;
    bottom: 8px;
    left: 60px;
    padding-bottom: 30px;
    font: 300 30px/1.37 Roboto, Open Sans, Arial, Helvetica, sans-serif;
    
}

@media only screen and (max-width: 767px) {

    .prima,
    .lista {
        margin-left: 20px;
        margin-right: 20px;
    }

    .bottom-left,
    .bottom {
        left: 20px;
        text-align: center;
    }

    .bottom-left {
        padding-bottom: 50px;
    }

    .bottom {
        font-size: 24px;
        line-height: 1.2;
        padding-bottom: 10px;
    }
}

img {
    height: 500px;
    width: 1519px;
    object-fit: cover;
}

figure#web {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0px;
    position: relative;
    text-align: center;
    color: white;
   
}

.bottom-left-exp {
    position: absolute;
    bottom: 8px;
    left: 60px;
    padding-bottom: 150px;
    font: 14px/1.57 Montserrat, Verdana, sans-serif;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: medium;
    text-transform: uppercase;
    

}

.bottom-exp {
    position: absolute;
    bottom: 8px;
    left: 60px;
    padding-bottom: 10px;
    font: 300 30px/1.37 Roboto, Open Sans, Arial, Helvetica, sans-serif;
    text-align: left;

}

@media only screen and (min-width: 768px) {
    .bottom-left-exp {
        bottom: 20px;
        font-size: 16px;
    }

    .bottom-exp {
        bottom: 20px;
        font-size: 36px;
    }
}

.back{
    background-color: #1a1a1a;;
    margin-left: 50px;
    margin-block-start: 0.83em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 1px;
    padding-right: 70px;
    margin-top: 0;
    padding-bottom: 80px;
    padding-right: 5vw;
    padding-left: 5vw;

}

.gallery_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 30px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0px;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 80px;
    

}

.imagine {
    position: relative;
    z-index: 1;
}

.imagine img {
    display: block;
    width: 100%;
    height: 400px;
    opacity: 0.5 ;
}


.bottom_top {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
    font: 500 24px/1.33 LouvreSerif, Georgia, Times New Roman, serif;
    letter-spacing: 1.5px;
    font-size: 1.5em;
    text-transform: uppercase;
    z-index: 2;
}

.bottom_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font: 300 18px/1.61 Roboto, Open Sans, Arial, Helvetica, sans-serif;
    z-index: 2;
}

.gallery_container .imagine:hover img {
    transform: scale(1.1);
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.gallery_container .imagine:hover .bottom_top {
    transform: translateY(-50px);
    transition: all 0.3s ease-in-out;
}

.gallery_container .imagine:hover .bottom_bottom {
    transform: translateY(-25px);
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 992px) {
    .gallery_container .imagine:hover {
        animation-name: slide-up;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        z-index: 2;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    }

    100% {
        transform: translateY(-10px);
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    }
}


.hover-effect {
    border-style: none;
    font-size: 18px;
    line-height: 1.5;
}

.hover-effect:hover {
border-style: dashed;
border-color: #302f2f;
padding-left: 10px;
padding-right: 10px;
}

#colorCount {
    font-size: 18px;
    margin-top: 10px;
}